.input {
  width: 400px;
  border: solid 1px lightgray;
  transition: all ease-in-out 300ms;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  input {
    font-size: 20px;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
  }
}

.input:focus-within {
  border: solid 1px blueviolet;
}
